Repository scowalt/machine-setup-scripts: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdownlint

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: bunx shellcheck {staged_files}
      stage_fixed: true
      fail_text: "Shellcheck found issues in shell scripts"
    
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli --fix {staged_files}
      stage_fixed: true
      fail_text: "Markdownlint found issues in markdown files"
      
pre-push:
  commands:
    shellcheck-all:
      run: bunx shellcheck *.sh
      fail_text: "Shellcheck found issues in shell scripts"
    
    markdownlint-all:
      run: bunx markdownlint-cli *.md
      fail_text: "Markdownlint found issues in markdown files"

chore: bump version banners for Paseo activity-check retry fix
  bazzite.sh
  pi.sh
  tests/ntn-installation-contract.sh
  ubuntu.sh
Due: shellcheck

chore: bump version banners for Paseo activity-check retry fix (#70)
  bazzite.sh
  pi.sh
  tests/ntn-installation-contract.sh
  ubuntu.sh
Due: shellcheck

fix: harden Paseo systemd recovery from wedged unit state
  bazzite.sh
  pi.sh
  tests/ntn-installation-contract.sh
  ubuntu.sh
Due: shellcheck

fix: harden Paseo systemd recovery from wedged unit state (#71)
  bazzite.sh
  pi.sh
  tests/ntn-installation-contract.sh
  ubuntu.sh
Due: shellcheck

refactor: remove Impeccable from machine setup
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/ntn-installation-contract.sh
  tests/setup-reliability-powershell.ps1
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: harden setup recovery and key verification
  bazzite.sh
  mac.sh
  pi.sh
  tests/headless-paseo-daemon-contract.sh
  tests/ntn-installation-contract.sh
  tests/setup-reliability-contract.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

fix: recover from failed Paseo systemctl commands
  bazzite.sh
  pi.sh
  tests/headless-paseo-daemon-contract.sh
  ubuntu.sh
Due: shellcheck

fix: harden setup recovery and key verification (#72)
  bazzite.sh
  mac.sh
  pi.sh
  tests/headless-paseo-daemon-contract.sh
  tests/ntn-installation-contract.sh
  tests/setup-reliability-contract.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

fix: avoid repeated macOS sudo prompts
  mac.sh
  tests/setup-reliability-contract.sh
Due: shellcheck

fix: install Codex per user on Linux
  README.md
  bazzite.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/ntn-installation-contract.sh
  tests/setup-reliability-contract.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

feat: add z.ai GLM Coding Plan provider for Pi on work machines 🤖
  CLAUDE.md
  backlog/tasks/task-2 - Add-z.ai-GLM-Coding-Plan-provider-to-Pi-setup-with-work-machine-default.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ntn-installation-contract.sh
  tests/pi-zai-provider-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install Pi Ask User extension by default 🤖
  bazzite.sh
  mac.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

test: cover Pi Ask User setup in contract tests 🤖
  tests/ai-coding-agent-contract.sh
  tests/ntn-installation-contract.sh
Due: shellcheck

feat: add z.ai GLM Coding Plan provider for Pi on work machines 🤖 (#73)
  CLAUDE.md
  backlog/tasks/task-2 - Add-z.ai-GLM-Coding-Plan-provider-to-Pi-setup-with-work-machine-default.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ntn-installation-contract.sh
  tests/pi-zai-provider-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: harden setup reliability from weekly audit 🤖
  bazzite.sh
  mac.sh
  pi.sh
  tests/ntn-installation-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

fix: harden setup reliability from weekly audit 🤖 (#75)
  bazzite.sh
  mac.sh
  pi.sh
  tests/ntn-installation-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

feat: install Simple English across AI harnesses 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ntn-installation-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install Simple English across AI harnesses 🤖 (#76)
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ntn-installation-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: activate Attention-kind across AI harnesses 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/attention-span-output-style-contract.sh
  tests/attention-span-output-style-powershell.ps1
  tests/ntn-installation-contract.sh
  ubuntu.sh
  vendor/attention-span/LICENSE
  vendor/attention-span/attention-kind.md
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: validate shared Simple English skill path 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/attention-span-output-style-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: use Simple English without an output style 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/attention-span-output-style-contract.sh
  tests/attention-span-output-style-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  vendor/attention-span/LICENSE
  vendor/attention-span/attention-kind.md
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install Matt Pocock skills for Codex 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install Matt Pocock skills for Codex 🤖 (#77)
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install opencode across agent machines 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  tests/ai-coding-agent-contract.sh
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

feat: remove tintinweb Pi subagents extension on rerun 🤖
  README.md
  backlog/tasks/task-3 - Remove-Pi-subagents-plugin-from-setup-scripts-and-uninstall-it-everywhere.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/headless-paseo-daemon-contract.sh
  tests/pi-subagents-removal-contract.sh
  tests/pi-synthetic-defaults-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: install Matt Pocock skill dependencies 🤖
  bazzite.sh
  mac.sh
  pi.sh
  tests/setup-reliability-powershell.ps1
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

test: update setup version contract 🤖
  tests/simple-english-skill-contract.sh
Due: shellcheck

fix: install Matt Pocock skill dependencies (#79)
  bazzite.sh
  mac.sh
  pi.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

fix: skip apt-managed gcloud component updates 🤖
  pi.sh
  tests/setup-reliability-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

feat: install Pi companion packages 🤖
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/pi-companion-packages-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install Pi companion packages 🤖 (#80)
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/pi-companion-packages-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

refactor: retire RTK from managed setup 🤖
  CLAUDE.md
  CONTEXT.md
  README.md
  bazzite.sh
  docs/adr/0001-keep-cleanup-for-retired-managed-tools.md
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/ntn-installation-contract.sh
  tests/rtk-removal-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: prevent Pi skill and shortcut conflicts 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-skill-ownership-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: prevent Pi skill and shortcut conflicts 🤖 (#82)
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-skill-ownership-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

refactor: retire Pi RPIV ask-user-question and todo packages 🤖
  README.md
  backlog/tasks/task-4 - Remove-Pi-RPIV-ask-user-question-and-todo-packages-from-setup-and-uninstall-everywhere.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/pi-companion-packages-contract.sh
  tests/pi-rpiv-removal-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

chore: ignore vendored CLAUDE.md in markdownlint 🤖
  .markdownlintignore
  backlog/tasks/task-5 - Stop-markdownlint-pre-push-failures-on-vendored-CLAUDE.md.md
Due: markdownlint

refactor: retire Pi RPIV ask-user-question and todo packages 🤖 (#83)
  README.md
  backlog/tasks/task-4 - Remove-Pi-RPIV-ask-user-question-and-todo-packages-from-setup-and-uninstall-everywhere.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/pi-companion-packages-contract.sh
  tests/pi-rpiv-removal-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

chore: update task evidence for markdownlint ignore fix 🤖
  backlog/tasks/task-5 - Stop-markdownlint-pre-push-failures-on-vendored-CLAUDE.md.md
Due: markdownlint
