Repository scowalt/machine-setup-scripts: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  run: bunx shellcheck {staged_files}
  stage_fixed: true
  fail_text: Shellcheck found issues in shell scripts

markdownlint:
  run: bunx markdownlint-cli --fix {staged_files}
  stage_fixed: true
  fail_text: Markdownlint found issues in markdown files

🤖 Preserve the reviewed private BB TMPDIR customization
  tests/bb-server-contract.sh
  tests/test_bb_server_diagnostics.py
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck

🤖 Preserve BB drop-in inspection failures before TMPDIR validation
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck

🤖 Restore Impeccable exclusion inputs (#201)
  bazzite.sh
  lib/setup-policy.bash
  lib/setup-policy.ps1
  mac.sh
  pi.sh
  tests/telegram-alerts-contract.sh
  tests/telegram-alerts-powershell.ps1
  tests/test_setup_environment.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Converge official Impeccable skills safely (#202)
  lib/impeccable-skill.bash
  lib/impeccable-skill.cjs
  lib/impeccable-skill.ps1
  tests/impeccable-skill-contract.sh
  tests/test_impeccable_convergence.py
  tests/test_impeccable_embedding.py
  tools/embed-impeccable-skill.py
Due: shellcheck

🤖 Converge Impeccable across setup callers (#203)
  CLAUDE.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/impeccable-callers-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/test_impeccable_callers.py
  tests/test_impeccable_convergence.py
  tests/test_pi_profile_permissions.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Verify native Impeccable discovery before success (#200)
  bazzite.sh
  lib/impeccable-skill.cjs
  mac.sh
  pi.sh
  tests/fixtures/impeccable-frontmatter.json
  tests/test_impeccable_convergence.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Match native Impeccable tabs and globstars (#200)
  bazzite.sh
  lib/impeccable-skill.cjs
  mac.sh
  pi.sh
  tests/test_impeccable_convergence.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Record #204 migration decisions and diagnostic evidence
  GLOSSARY.md
  docs/plans/2026-10-07-devinabox-bb-environment-migration.md
  docs/research/2026-10-07-devinabox-setup-failure.md
Due: markdownlint

🤖 Preserve devinabox BB refusal through ordinary setup
  tests/test_bb_service_preflight.py
Due: none

🤖 Gate devinabox BB cutover on workflow evidence (#205)
  docs/plans/2026-10-07-devinabox-bb-environment-migration.md
  docs/research/2026-10-07-devinabox-setup-failure.md
Due: markdownlint

🤖 Preserve unauthenticated BB tool workflows in #204 packet
  docs/plans/2026-10-07-devinabox-bb-environment-migration.md
  docs/research/2026-10-07-devinabox-setup-failure.md
Due: markdownlint

🤖 Accept account directory group access for BB refresh (#212)
  bazzite.sh
  docs/research/2026-10-07-directory-trust-212.md
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Accept account-owned BB server directories (#211)
  docs/research/2026-10-07-directory-trust-211.md
  tests/bb-server-contract.sh
  tests/test_bb_directory_preflight.py
  tests/test_bb_dotfiles_umask.py
  tests/test_bb_server_diagnostics.py
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck, markdownlint

🤖 Accept BB preparation directory group write without privacy proofs
  bazzite.sh
  docs/research/2026-10-07-directory-trust-210.md
  mac.sh
  pi.sh
  tests/test_bb_machine_preparation.py
  tests/test_bb_service_trust.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Accept ordinary Impeccable directory group access (#209)
  bazzite.sh
  docs/research/2026-10-07-directory-trust-209.md
  lib/impeccable-skill.cjs
  mac.sh
  pi.sh
  tests/test_impeccable_callers.py
  tests/test_impeccable_convergence.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Accept account directory group write during Backlog retirement (#216)
  bazzite.sh
  docs/research/2026-10-07-directory-trust-216.md
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/attention-span-removal-contract.sh
  tests/backlog-mcp-retirement-contract.sh
  tests/rtk-removal-contract.sh
  tests/test_backlog_directory_trust.py
  tests/test_backlog_mcp_retirement.py
  tests/test_managed_skill_suite.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Accept OpenCode account directory group write (#214)
  bazzite.sh
  docs/research/2026-10-07-directory-trust-214.md
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/fixtures/opencode-cli-driver.cjs
  tests/opencode-cli.test.cjs
  tests/test_opencode_cli_callers.py
  tests/test_opencode_macos_preflight.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Preserve private Pi through shared ancestors (#215)
  bazzite.sh
  docs/research/2026-10-07-directory-trust-215.md
  mac.sh
  pi.sh
  tests/test_pi_opencode_go_setup.py
  tests/test_pi_package_maintenance.py
  tests/test_pi_profile_permissions.py
  tests/test_pi_prose_retirement.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Accept account-owned bb desktop directories (#213)
  bazzite.sh
  docs/research/2026-10-07-directory-trust-213.md
  mac.sh
  tests/bb-desktop-contract.sh
  tests/fixtures/bb-desktop-operation.py
  tests/test_bb_desktop.py
  tests/test_bb_desktop_callers.py
  ubuntu.sh
Due: shellcheck, markdownlint

🤖 Record contained directory trust evidence for #216
  docs/research/2026-10-07-directory-trust-216.md
Due: markdownlint

🤖 Integrate account-directory trust and close remaining gates (#217)
  CLAUDE.md
  docs/adr/0003-separate-bb-preparation-from-enrollment.md
  docs/adr/0005-accept-opencode-linux-homebrew-group-write.md
  docs/adr/0006-accept-native-macos-applications-for-bb-desktop.md
  docs/adr/0008-accept-opencode-darwin-homebrew-bin-group-write.md
  docs/adr/0009-limit-bb-group-write-exception-to-negative-discovery.md
  docs/adr/0010-accept-opencode-darwin-homebrew-directories.md
  docs/adr/0011-scope-bb-server-customizations.md
  docs/adr/0012-accept-account-owned-ordinary-directories.md
  docs/research/2026-10-01-bb-plugin-refresh-api.md
  docs/research/2026-10-07-directory-trust-213.md
  docs/research/2026-10-07-directory-trust-integration.md
  mac.sh
  tests/bb-plugin-refresh-contract.sh
  tests/directory-trust-integration-contract.sh
  tests/test_directory_trust_integration.py
  tests/test_impeccable_convergence.py
  tests/test_pre_push_contracts.py
  tools/run-pre-push-contracts.py
Due: shellcheck, markdownlint

🤖 Record complete contained directory-trust integration evidence (#217)
  docs/research/2026-10-07-directory-trust-integration-source.json
  docs/research/2026-10-07-directory-trust-integration.md
Due: markdownlint

🤖 Revalidate OpenCode directories before failed-stage cleanup
  bazzite.sh
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/opencode-cli.test.cjs
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Record contained OpenCode review-repair evidence
  docs/research/2026-10-08-directory-trust-review-repair-source.json
  docs/research/2026-10-08-directory-trust-review-repair.md
Due: markdownlint

🤖 Isolate Impeccable installer creation mask
  bazzite.sh
  lib/impeccable-skill.bash
  mac.sh
  pi.sh
  tests/test_impeccable_callers.py
  tests/test_impeccable_convergence.py
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Add Impeccable staging permission regressions
  tests/impeccable-skill-contract.sh
  tests/test_impeccable_convergence.py
  tests/test_impeccable_staging_permissions.py
Due: shellcheck

🤖 Preserve controlled Impeccable failure diagnostics
  bazzite.sh
  lib/impeccable-skill.bash
  lib/impeccable-skill.cjs
  lib/impeccable-skill.ps1
  mac.sh
  pi.sh
  tests/impeccable-skill-contract.sh
  tests/test_impeccable_callers.py
  tests/test_impeccable_convergence.py
  tests/test_impeccable_diagnostics.py
  tests/test_impeccable_embedding.py
  tests/test_impeccable_staging_permissions.py
  tests/test_pi_profile_permissions.py
  tools/embed-impeccable-skill.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Align directory-trust regression with controlled diagnostics
  tests/test_directory_trust_integration.py
Due: none

🤖 Preserve reviewed BB inheritance policy without retirement prerequisite
  CLAUDE.md
  docs/adr/0011-scope-bb-server-customizations.md
  docs/adr/0012-accept-account-owned-ordinary-directories.md
  docs/adr/0013-preserve-reviewed-bb-environment-inheritance.md
  docs/plans/2026-10-06-bb-environment-override-migration.md
  docs/plans/2026-10-06-bb-server-customizations.md
  docs/plans/2026-10-07-devinabox-bb-environment-migration.md
  docs/research/2026-10-07-devinabox-setup-failure.md
Due: markdownlint

🤖 Preserve reviewed BB account-environment inheritance
  tests/test_bb_server_diagnostics.py
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck

🤖 Prove ordinary BB maintenance preserves reviewed environment inheritance
  tests/bb-server-contract.sh
  tests/test_bb_server_diagnostics.py
Due: shellcheck

🤖 Preserve BB sources before initialization and verify managed fragments
  tests/bb-server-contract.sh
  tests/bb_managed_unit_fixture.py
  tests/test_bb_server_diagnostics.py
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck

🤖 Delegate BB plugin refresh to the native CLI
  CLAUDE.md
  bazzite.sh
  docs/plans/2026-10-01-bb-plugin-refresh.md
  docs/research/2026-10-01-bb-plugin-refresh-api.md
  docs/research/2026-10-09-bb-plugin-refresh-045-contract.md
  lib/bb-plugin-refresh.bash
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Support homebrew/core OpenCode migration
  bazzite.sh
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/opencode-cli.test.cjs
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Ignore unrelated Backlog directory activity
  bazzite.sh
  mac.sh
  pi.sh
  tests/test_backlog_directory_trust.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: *.sh
  markdownlint: any of: *.md
