Repository scowalt/machine-setup-scripts: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  run: bunx shellcheck {staged_files}
  stage_fixed: true
  fail_text: Shellcheck found issues in shell scripts

markdownlint:
  run: bunx markdownlint-cli --fix {staged_files}
  stage_fixed: true
  fail_text: Markdownlint found issues in markdown files

chore: mark backlog TASK-5 done 🤖
  backlog/tasks/task-5 - Stop-markdownlint-pre-push-failures-on-vendored-CLAUDE.md.md
Due: markdownlint

chore: mark backlog TASK-4 done 🤖
  backlog/tasks/task-4 - Remove-Pi-RPIV-ask-user-question-and-todo-packages-from-setup-and-uninstall-everywhere.md
Due: markdownlint

feat: install Gitea client on work machines 🤖
  CONTEXT.md
  README.md
  bazzite.sh
  docs/plans/2026-08-26-001-feat-install-gitea-client-plan.md
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: warn at end of setup when a reboot is pending 🤖
  CONTEXT.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/pending-reboot-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: warn at end of setup when a reboot is pending 🤖 (#85)
  CONTEXT.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/pending-reboot-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: remove leftover Compound Engineering lfg skill and install manifest in setup cleanup 🤖
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/gitea-client-installation-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

chore: mark backlog TASK-6 done 🤖
  backlog/tasks/task-6 - Remove-leftover-Compound-Engineering-lfg-skill-and-install-manifest-in-setup-cleanup.md
Due: markdownlint

fix: remove leftover Compound Engineering lfg skill and install manifest in setup cleanup 🤖 (#86)
  backlog/tasks/task-6 - Remove-leftover-Compound-Engineering-lfg-skill-and-install-manifest-in-setup-cleanup.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/gitea-client-installation-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

refactor: remove opencode from managed setup 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-7 - Remove-opencode-from-machine-setup-scripts.md
  bazzite.sh
  mac.sh
  tests/ai-coding-agent-contract.sh
  tests/gitea-client-installation-contract.sh
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

refactor: remove opencode from managed setup 🤖 (#87)
  CLAUDE.md
  README.md
  backlog/tasks/task-7 - Remove-opencode-from-machine-setup-scripts.md
  bazzite.sh
  mac.sh
  tests/ai-coding-agent-contract.sh
  tests/gitea-client-installation-contract.sh
  tests/simple-english-skill-contract.sh
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

fix: remove retired Attention-kind guidance on setup reruns 🤖
  CONTEXT.md
  bazzite.sh
  docs/adr/0001-keep-cleanup-for-retired-managed-tools.md
  mac.sh
  pi.sh
  tests/attention-span-removal-contract.sh
  tests/attention-span-removal-powershell.ps1
  tests/gitea-client-installation-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

chore(deps): configure Renovate update policy 🤖
  .mise.toml
  renovate.json
Due: none

feat: manage HumanLayer show-me skill 🤖
  CLAUDE.md
  CONTEXT.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/pi-skill-ownership-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install pi-prose with a seeded default 🤖
  CLAUDE.md
  CONTEXT.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/pi-companion-packages-contract.sh
  tests/pi-prose-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install pi-prose with a seeded default 🤖 (#91)
  CLAUDE.md
  CONTEXT.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/pi-companion-packages-contract.sh
  tests/pi-prose-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: ignore agent listeners in Paseo audit 🤖
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/headless-paseo-daemon-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
Due: shellcheck

fix: ignore agent listeners in Paseo audit 🤖 (#92)
  bazzite.sh
  mac.sh
  pi.sh
  tests/gitea-client-installation-contract.sh
  tests/headless-paseo-daemon-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
Due: shellcheck

fix: honor configured Paseo listener ports 🤖
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/headless-paseo-daemon-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
Due: shellcheck, markdownlint

fix: honor configured Paseo listener ports 🤖 (#93)
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/headless-paseo-daemon-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
Due: shellcheck, markdownlint

fix: report incomplete Homebrew upgrades 🤖
  mac.sh
  tests/setup-reliability-contract.sh
  tests/simple-english-skill-contract.sh
Due: shellcheck

feat: add Telegram alert credential placeholders 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-8 - Document-direct-Telegram-alerts-for-coding-agents.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/telegram-alerts-contract.sh
  tests/telegram-alerts-powershell.ps1
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: align setup version tests and propagate hook failures 🤖
  backlog/tasks/task-8 - Document-direct-Telegram-alerts-for-coding-agents.md
  lefthook.yml
  tests/simple-english-skill-contract.sh
Due: shellcheck, markdownlint

fix: retire the Claude Code installation opt-out 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-9 - Retire-the-Claude-Code-installation-opt-out.md
  bazzite.sh
  docs/plans/2026-07-09-001-feat-install-claude-code-cli-plan.md
  mac.sh
  pi.sh
  tests/claude-code-installation-contract.sh
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: replace Synthetic with GPT-6 Astra xhigh defaults 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-10 - Replace-Synthetic-Kimi-K3-with-GPT-6-Astra-defaults.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-model-defaults-contract.sh
  tests/pi-model-defaults-powershell.ps1
  tests/pi-synthetic-defaults-contract.sh
  tests/pi-zai-provider-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_pi_model_defaults.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install PR Lens across all supported agents 🤖
  CLAUDE.md
  CONTEXT.md
  README.md
  backlog/tasks/task-11 - Install-PR-Lens-as-a-managed-skill-across-all-supported-agents.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-skill-ownership-contract.sh
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: default Paseo daemons and clients to beta 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-12 - Default-Paseo-daemons-and-desktop-clients-to-the-beta-channel.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/paseo-release-channel-contract.sh
  tests/paseo-release-channel-powershell.ps1
  tests/simple-english-skill-contract.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: install Paseo Plain without restoring Pi prose 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-companion-packages-contract.sh
  tests/pi-prose-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_paseo_plain_setup.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

docs: record completed Paseo Plain setup tasks 🤖
  backlog/archive/tasks/task-15 - Roll-out-the-released-Paseo-Plain-plugin-to-existing-machines.md
  backlog/tasks/task-13 - Stop-restoring-the-removed-pi-prose-package-and-defaults.md
  backlog/tasks/task-14 - Install-and-maintain-Paseo-Plain-from-machine-setup.md
Due: markdownlint

fix: Fix Paseo Plain CLI home selection 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-15 - Fix-Paseo-Plain-installer-use-of-unsupported-global-home-option.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/simple-english-skill-contract.sh
  tests/test_paseo_plain_setup.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: Track Paseo Plain main and migrate release installs 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-16 - Track-Paseo-Plain-main-and-migrate-setup-managed-release-installations.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/paseo-plain-native-migration.mjs
  tests/paseo-plain-setup-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_paseo_native_fixture_isolation.py
  tests/test_paseo_plain_setup.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: Keep Pi on a supported shared Node runtime 🤖
  CLAUDE.md
  CONTEXT.md
  README.md
  backlog/tasks/task-17 - Ensure-Pi-uses-a-supported-shared-Node-runtime-after-setup.md
  bazzite.sh
  docs/plans/2026-09-11-001-fix-pi-shared-node-runtime-plan.md
  mac.sh
  pi.sh
  tests/shared-node-runtime-contract.sh
  tests/shared-node-runtime-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/test_shared_node_runtime.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: Allow trusted Linux system home alias for Paseo Desktop 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-18 - Allow-the-Bazzite-system-home-alias-during-Paseo-Desktop-setup.md
  backlog/tasks/task-19 - Fix-the-existing-PowerShell-PR-Lens-ownership-reliability-failure.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/paseo-release-channel-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_paseo_system_home_alias.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

fix: Retire pi-prose from global Pi profiles 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-20 - Retire-pi-prose-from-global-Pi-profiles-on-the-next-setup-run.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-companion-packages-contract.sh
  tests/pi-prose-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_pi_prose_retirement.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: Make Windows setup log uploads recoverable 🤖
  README.md
  backlog/tasks/task-21 - Make-Windows-setup-log-uploads-compatible-and-recoverable.md
  tests/setup-reliability-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/windows-log-upload-contract.sh
  tests/windows-log-upload-powershell.ps1
  win.ps1
Due: shellcheck, markdownlint

fix: Fix weekly audit package and installer failures 🤖
  CLAUDE.md
  README.md
  backlog/tasks/task-22 - Recover-Pi-package-maintenance-under-restricted-npm-policy.md
  backlog/tasks/task-23 - Report-managed-Pi-package-failures-in-setup-results.md
  backlog/tasks/task-24 - Keep-Linux-Codex-installation-from-modifying-shell-profiles.md
  backlog/tasks/task-25 - Expose-safe-Paseo-Plain-setup-failure-diagnostics.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/codex-profile-isolation-contract.sh
  tests/pi-package-maintenance-contract.sh
  tests/pi-rpiv-removal-contract.sh
  tests/pi-subagents-removal-contract.sh
  tests/setup-reliability-contract.sh
  tests/shared-node-runtime-powershell.ps1
  tests/simple-english-skill-contract.sh
  tests/test_codex_profile_isolation.py
  tests/test_paseo_plain_setup.py
  tests/test_pi_package_maintenance.py
  tests/test_pi_prose_retirement.py
  tests/test_shared_node_runtime.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

fix: Keep the Pi MCP adapter installed and enabled 🤖
  CLAUDE.md
  README.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/pi-mcp-adapter-load.mjs
  tests/simple-english-skill-contract.sh
  tests/test_pi_package_maintenance.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

docs: Record verified Pi MCP adapter delivery 🤖
  backlog/tasks/task-26 - Keep-the-Pi-MCP-adapter-installed-and-enabled-across-setup-and-dotfiles.md
Due: markdownlint

feat: Add Go subscription and Muse Contributor profile 🤖
  CLAUDE.md
  CONTEXT.md
  README.md
  backlog/tasks/task-27 - Provision-OpenCode-Go-for-Pi-and-managed-Muse-Contributor-profiles.md
  bazzite.sh
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/opencode-go-wiring-contract.sh
  tests/paseo-muse-profile-contract.sh
  tests/paseo-muse-profile-powershell.ps1
  tests/pi-opencode-go-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_opencode_go_wiring.py
  tests/test_paseo_muse_profile.py
  tests/test_pi_opencode_go_setup.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

Path conditions:
  shellcheck: any of: *.sh
  markdownlint: any of: *.md
