Repository scowalt/machine-setup-scripts: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdownlint

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: bunx shellcheck {staged_files}
      stage_fixed: true
      fail_text: "Shellcheck found issues in shell scripts"
    
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli --fix {staged_files}
      stage_fixed: true
      fail_text: "Markdownlint found issues in markdown files"
      
pre-push:
  commands:
    shellcheck-all:
      run: bunx shellcheck *.sh
      fail_text: "Shellcheck found issues in shell scripts"
    
    markdownlint-all:
      run: bunx markdownlint-cli *.md
      fail_text: "Markdownlint found issues in markdown files"

Fix Windows script header display issue
  win.ps1
Due: none

Add markdownlint configuration to ignore MD013 line length rule
  .markdownlint.json
Due: none

Fix all shellcheck warnings in setup scripts
  mac.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Fix markdownlint issues in CLAUDE.md
  CLAUDE.md
Due: markdownlint

Add Claude Code installation to setup scripts
  mac.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Fix ANSI color codes not rendering on Raspberry Pi
  pi.sh
Due: shellcheck

Document learnings from Claude Code installation work
  CLAUDE.md
Due: markdownlint

Fix git-town installation on Linux platforms
  CLAUDE.md
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

Fix ANSI color codes not rendering correctly in headers
  mac.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Add unzip dependency and improve error handling for tool installations
  pi.sh
  ubuntu.sh
Due: shellcheck

Fix git-town download URLs and handle existing pyenv installations
  pi.sh
  ubuntu.sh
Due: shellcheck

Fix git-town download URLs in WSL and Windows scripts
  win.ps1
  wsl.sh
Due: shellcheck

Add --skip-shell flag to fnm installation for chezmoi compatibility
  pi.sh
  ubuntu.sh
Due: shellcheck

Add Node.js setup function to install LTS version if none exists
  mac.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Fix Node.js version detection when fnm returns 'none'
  mac.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Fix fnm version parsing and improve error handling
  mac.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Add extensive debugging and multiple parsing methods for fnm list
  ubuntu.sh
Due: shellcheck

Fix Node.js setup to handle case when only system version exists
  ubuntu.sh
Due: shellcheck

Document learnings from fnm and pyenv implementation work
  CLAUDE.md
Due: markdownlint

Fix Infisical installation on Windows via Scoop
  win.ps1
Due: none

Fix Beeper package ID in Windows setup script
  win.ps1
Due: none

Add Bun JavaScript runtime to WSL setup script
  wsl.sh
Due: shellcheck

Standardize VSCode across platforms and remove Cursor
  mac.sh
  win.ps1
Due: shellcheck

Fix 1Password repository GPG key issues in WSL setup
  wsl.sh
Due: shellcheck

Add Hammerspoon and switchaudio-osx to macOS setup
  mac.sh
Due: shellcheck

Add Omarchy Linux setup script with maximum shellcheck validation
  .shellcheckrc
  CLAUDE.md
  omarchy.sh
Due: shellcheck, markdownlint

Complete shellcheck fixes for mac.sh
  mac.sh
Due: shellcheck

Complete shellcheck fixes for wsl.sh
  wsl.sh
Due: shellcheck

Complete shellcheck fixes for ubuntu.sh
  ubuntu.sh
Due: shellcheck

Complete shellcheck fixes for pi.sh
  pi.sh
Due: shellcheck

Update version numbers for shellcheck validation improvements
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Add npm global package upgrade to all setup scripts
  CLAUDE.md
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

Remove Arc browser from default Windows installation
  win.ps1
Due: none

Update omarchy.sh: add user enforcement, SSH server setup, and improve structure
  README.md
  omarchy.sh
Due: shellcheck, markdownlint

Revert "Update omarchy.sh: add user enforcement, SSH server setup, and improve structure"
  README.md
  omarchy.sh
Due: shellcheck, markdownlint

Add chezmoi update step to all setup scripts
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Open GitHub SSH keys page when key not registered
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Fix git-town completions command in omarchy.sh
  omarchy.sh
Due: shellcheck

Handle fnm/fnm-bin package conflict in omarchy.sh
  omarchy.sh
Due: shellcheck

Handle existing pyenv directory without PATH in omarchy.sh
  omarchy.sh
Due: shellcheck
