Repository scowalt/machine-setup-scripts: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdownlint

lefthook.yml:

pre-commit:
  commands:
    shellcheck:
      glob: "*.sh"
      run: bunx shellcheck {staged_files}
      stage_fixed: true
      fail_text: "Shellcheck found issues in shell scripts"
    
    markdownlint:
      glob: "*.md"
      run: bunx markdownlint-cli --fix {staged_files}
      stage_fixed: true
      fail_text: "Markdownlint found issues in markdown files"
      
pre-push:
  commands:
    shellcheck-all:
      run: bunx shellcheck *.sh
      fail_text: "Shellcheck found issues in shell scripts"
    
    markdownlint-all:
      run: bunx markdownlint-cli *.md
      fail_text: "Markdownlint found issues in markdown files"

fix: handle upstream Go, skills and OpenCode compatibility 🤖
  CLAUDE.md
  backlog/tasks/task-61 - Refresh-current-skills-baseline-while-retaining-historical-ownership.md
  backlog/tasks/task-62 - Accept-exact-official-OpenCode-CLI-version-formatting.md
  backlog/tasks/task-63 - Accept-compatible-typed-Pi-Go-Muse-catalogs.md
  bazzite.sh
  docs/plans/2026-10-01-001-fix-setup-upstream-compatibility.md
  docs/research/2026-10-01-upstream-compatibility-validation.md
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/fixtures/matt-pocock-skills.json
  tests/fixtures/pi-ai-0.99.2-muse.json
  tests/mock_managed_skills.py
  tests/opencode-cli.test.cjs
  tests/test_managed_skill_suite.py
  tests/test_opencode_go_wiring.py
  tests/test_pi_opencode_go_setup.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

feat: Refresh verified local BB plugins through native APIs 🤖
  CLAUDE.md
  CONTEXT.md
  backlog/tasks/task-64 - Refresh-installed-plugins-on-verified-local-BB-servers.md
  bazzite.sh
  docs/plans/2026-10-01-bb-plugin-refresh.md
  docs/research/2026-10-01-bb-plugin-refresh-api.md
  lib/bb-plugin-refresh.bash
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  tools/embed-bb-plugin-refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

fix: Fix literal helper input parsing on macOS Bash 3.2 🤖
  backlog/tasks/task-65 - Fix-macOS-setup-parse-failure-near-line-2625.md
  bazzite.sh
  lib/opencode-cli.bash
  mac.sh
  pi.sh
  tests/bash-compatibility-contract.sh
  tests/test_bash_compatibility.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

fix: Explain BB server failures with controlled diagnostics 🤖
  backlog/tasks/task-66 - Expose-controlled-Ubuntu-BB-server-failure-diagnostics.md
  tests/bb-server-contract.sh
  tests/test_bb_directory_preflight.py
  tests/test_bb_server_diagnostics.py
  ubuntu.sh
Due: shellcheck, markdownlint

docs: Record approved TASK-67 implementation contract 🤖
  backlog/tasks/task-67 - Accept-account-owned-Linux-Homebrew-group-write-paths-without-process-scanning.md
Due: markdownlint

fix: Explain BB service drop-in preflight refusals 🤖
  backlog/tasks/task-67 - Explain-BB-service-drop-in-preflight-refusals.md
  tests/bb-server-contract.sh
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck, markdownlint

🤖 Rename domain docs to glossary and contain pre-push fixtures
  CLAUDE.md
  GLOSSARY.md
  backlog/archive/tasks/task-51 - Preserve-safe-dotfile-permissions-for-BB-machine-preparation.md
  backlog/tasks/task-11 - Install-PR-Lens-as-a-managed-skill-across-all-supported-agents.md
  backlog/tasks/task-17 - Ensure-Pi-uses-a-supported-shared-Node-runtime-after-setup.md
  backlog/tasks/task-27 - Provision-OpenCode-Go-for-Pi-and-managed-Muse-Contributor-profiles.md
  backlog/tasks/task-31 - Remove-verified-surplus-Paseo-CLIs-and-select-the-retained-CLI.md
  backlog/tasks/task-42 - Refresh-active-global-Pi-packages-during-machine-setup.md
  backlog/tasks/task-45 - Manage-opt-in-persistent-bb-servers-on-Ubuntu.md
  backlog/tasks/task-48 - Prepare-non-server-machines-for-manual-BB-enrollment.md
  backlog/tasks/task-49 - Install-bb-desktop-on-headed-supported-machines.md
  backlog/tasks/task-50 - Repair-eligible-macOS-CLT-incompatibility-and-gate-dependent-setup.md
  backlog/tasks/task-54 - Install-and-maintain-OpenCode-v2-CLI-across-supported-machines.md
  backlog/tasks/task-57 - Make-machine-setup-non-disruptive-by-default.md
  backlog/tasks/task-58 - Revert-non-disruptive-setup-defaults.md
  backlog/tasks/task-60 - Make-the-README-a-concise-human-introduction.md
  backlog/tasks/task-64 - Refresh-installed-plugins-on-verified-local-BB-servers.md
  backlog/tasks/task-66 - Expose-controlled-Ubuntu-BB-server-failure-diagnostics.md
  backlog/tasks/task-68 - Contain-the-pre-push-contract-suite-through-the-audited-fixture-runner.md
  docs/brainstorms/2026-09-28-macos-clt-repair-requirements.md
  docs/plans/2026-09-23-001-retire-infisical.md
  docs/plans/2026-09-29-non-disruptive-setup.md
  docs/plans/2026-10-01-bb-plugin-refresh.md
  docs/research/2026-09-29-non-disruptive-validation.md
  lefthook.yml
  tests/pending-reboot-contract.sh
  tests/simple-english-skill-contract.sh
  tests/test_pre_push_contracts.py
  tools/run-pre-push-contracts.py
Due: shellcheck, markdownlint

🤖 Record reviewed hook repair and actual publication checks
  backlog/tasks/task-68 - Contain-the-pre-push-contract-suite-through-the-audited-fixture-runner.md
Due: markdownlint

fix: Accept account-owned Linux Homebrew paths for OpenCode 🤖
  CLAUDE.md
  bazzite.sh
  docs/adr/0005-accept-opencode-linux-homebrew-group-write.md
  lib/opencode-cli.bash
  lib/opencode-cli.cjs
  lib/opencode-cli.ps1
  mac.sh
  pi.sh
  tests/fixtures/opencode-homebrew-proof.py
  tests/opencode-cli.test.cjs
  tests/test_opencode_cli_callers.py
  tests/weekly-log-audit-regressions.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

docs: Close TASK-67 with contained evidence and review 🤖
  backlog/tasks/task-67 - Accept-account-owned-Linux-Homebrew-group-write-paths-without-process-scanning.md
Due: markdownlint

docs: Record approved TASK-69 Infisical non-management spec 🤖
  backlog/tasks/task-69 - Remove-completed-Infisical-retirement-from-setup.md
Due: markdownlint

fix: Accept verified empty BB service drop-in directories 🤖
  tests/test_bb_service_preflight.py
  ubuntu.sh
Due: shellcheck

fix: Drop completed secrets-manager retirement 🤖
  backlog/tasks/task-69 - Remove-completed-Infisical-retirement-from-setup.md
  bazzite.sh
  docs/plans/2026-09-23-001-retire-infisical.md
  docs/research/2026-10-03-infisical-non-management-validation.md
  mac.sh
  pi.sh
  tests/infisical-non-management-contract.sh
  tests/infisical-non-management-windows.ps1
  tests/infisical-retirement-contract.sh
  tests/infisical-retirement-native-windows.ps1
  tests/infisical-retirement-windows.ps1
  tests/setup-reliability-contract.sh
  tests/test_homebrew_results.py
  tests/test_infisical_apt_retirement.py
  tests/test_infisical_callers.py
  tests/test_infisical_native_retirement.py
  tests/test_infisical_non_management.py
  tests/test_macos_clt.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

docs: Close TASK-69 after contained validation and review 🤖
  backlog/tasks/task-69 - Remove-completed-Infisical-retirement-from-setup.md
  docs/research/2026-10-03-infisical-non-management-validation.md
Due: markdownlint

🤖 Track approved secondary-account setup implementation graph
  backlog/archive/tasks/task-70 - Correct-secondary-account-setup-verification-and-ownership.md
  backlog/tasks/task-69 - Correct-secondary-account-setup-verification-and-ownership.md
  backlog/tasks/task-69.1 - Verify-Infisical-absence-without-sudo.md
  backlog/tasks/task-69.2 - Preserve-foreign-OpenCode-copies-with-verified-account-local-selection.md
  backlog/tasks/task-69.3 - Expose-controlled-bb-plugin-refresh-refusal-reasons.md
  backlog/tasks/task-69.4 - Verify-integrated-secondary-account-setup-outcomes.md
Due: markdownlint

🤖 Record contained baseline and delegated TASK-69 frontier
  backlog/tasks/task-69 - Correct-secondary-account-setup-verification-and-ownership.md
Due: markdownlint

🤖 Report controlled BB plugin refresh refusal reasons
  bazzite.sh
  lib/bb-plugin-refresh.bash
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Reconcile secondary-account work with published Infisical non-management
  backlog/archive/tasks/task-69 - Correct-secondary-account-setup-verification-and-ownership.md
  backlog/archive/tasks/task-69.1 - Verify-Infisical-absence-without-sudo.md
  backlog/archive/tasks/task-69.2 - Preserve-foreign-OpenCode-copies-with-verified-account-local-selection.md
  backlog/archive/tasks/task-69.3 - Expose-controlled-bb-plugin-refresh-refusal-reasons.md
  backlog/archive/tasks/task-69.4 - Verify-integrated-secondary-account-setup-outcomes.md
  backlog/archive/tasks/task-70 - Complete-secondary-account-OpenCode-and-BB-fixes-against-current-main.md
  backlog/archive/tasks/task-70.5 - Preserve-foreign-OpenCode-copies-with-verified-account-local-selection.md
  backlog/archive/tasks/task-70.6 - Expose-controlled-bb-plugin-refresh-refusal-reasons.md
  backlog/archive/tasks/task-70.7 - Verify-integrated-secondary-account-setup-outcomes.md
  backlog/tasks/task-71 - Complete-secondary-account-OpenCode-and-BB-fixes-against-current-main.md
  backlog/tasks/task-71.1 - Preserve-foreign-OpenCode-copies-with-verified-account-local-selection.md
  backlog/tasks/task-71.2 - Expose-controlled-bb-plugin-refresh-refusal-reasons.md
  backlog/tasks/task-71.3 - Verify-integrated-secondary-account-setup-outcomes.md
Due: markdownlint

docs: Make GitHub Issues authoritative for agent skills 🤖
  .markdownlintignore
  .mcp.json
  CLAUDE.md
  docs/adr/0005-accept-opencode-linux-homebrew-group-write.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: markdownlint

🤖 Record verified BB integration and upstream scope reconciliation
  backlog/tasks/task-71 - Complete-secondary-account-OpenCode-and-BB-fixes-against-current-main.md
  backlog/tasks/task-71.2 - Expose-controlled-bb-plugin-refresh-refusal-reasons.md
Due: markdownlint

🤖 Preserve foreign OpenCode copies with verified account-local selection
  bazzite.sh
  lib/opencode-cli.bash
  lib/opencode-cli.cjs
  lib/opencode-cli.ps1
  mac.sh
  pi.sh
  tests/fixtures/opencode-cli-driver.cjs
  tests/opencode-cli.test.cjs
  tests/test_opencode_cli_callers.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Verify OpenCode selection before committing native updates
  bazzite.sh
  lib/opencode-cli.cjs
  lib/opencode-cli.ps1
  mac.sh
  pi.sh
  tests/fixtures/opencode-cli-driver.cjs
  tests/opencode-cli.test.cjs
  tests/test_opencode_cli_callers.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Trust native macOS Applications for account-owned BB desktop
  CLAUDE.md
  bazzite.sh
  docs/adr/0006-accept-native-macos-applications-for-bb-desktop.md
  mac.sh
  tests/test_bb_desktop.py
  ubuntu.sh
Due: shellcheck, markdownlint

🤖 Let actual operations decide success instead of CLT compatibility
  CLAUDE.md
  bazzite.sh
  docs/adr/0007-use-operation-results-instead-of-clt-compatibility-gates.md
  docs/brainstorms/2026-09-28-macos-clt-repair-requirements.md
  lib/opencode-cli.bash
  lib/opencode-cli.cjs
  lib/opencode-cli.ps1
  mac.sh
  pi.sh
  tests/ai-coding-agent-contract.sh
  tests/gitea-client-installation-contract.sh
  tests/ntn-installation-contract.sh
  tests/opencode-cli.test.cjs
  tests/test_bb_machine_preparation.py
  tests/test_homebrew_results.py
  tests/test_infisical_non_management.py
  tests/test_macos_clt.py
  tests/test_opencode_cli_callers.py
  tests/test_opencode_go_wiring.py
  tests/test_pi_package_maintenance.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Normalize Darwin process UIDs for bb desktop safety
  bazzite.sh
  mac.sh
  tests/test_bb_desktop.py
  ubuntu.sh
Due: shellcheck

🤖 Normalize Darwin UIDs without weakening BB plugin identity
  bazzite.sh
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Report bounded secret-safe evidence at real PATH discovery
  bazzite.sh
  lib/opencode-cli.bash
  lib/opencode-cli.cjs
  lib/opencode-cli.ps1
  mac.sh
  pi.sh
  tests/fixtures/opencode-cli-driver.cjs
  tests/opencode-cli.test.cjs
  tests/test_opencode_cli_callers.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Prove integrated failure retention through deferrals and completed logs
  docs/research/issue-184-validation.md
  tests/test_bb_plugin_refresh.py
Due: markdownlint

🤖 Reject malformed Darwin BB process identity rows
  bazzite.sh
  docs/research/issue-184-validation.md
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Record completed independent review of setup identity diagnostics
  docs/research/issue-184-validation.md
Due: markdownlint

🤖 Fix Darwin OpenCode preflight and BB process discovery
  CLAUDE.md
  bazzite.sh
  docs/adr/0008-accept-opencode-darwin-homebrew-bin-group-write.md
  docs/research/2026-10-01-bb-plugin-refresh-api.md
  docs/research/2026-10-05-bb-plugin-procargs-buffer.md
  lib/bb-plugin-refresh.py
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/opencode-cli-contract.sh
  tests/opencode-cli.test.cjs
  tests/test_bb_plugin_refresh.py
  tests/test_opencode_macos_preflight.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Exclude default BB non-server state without granting trust (#192)
  CLAUDE.md
  bazzite.sh
  docs/adr/0009-limit-bb-group-write-exception-to-negative-discovery.md
  docs/research/2026-10-01-bb-plugin-refresh-api.md
  docs/research/2026-10-06-bb-non-server-discovery-validation.md
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Recognize verified OpenCode Homebrew revisions (#193)
  bazzite.sh
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/opencode-cli.test.cjs
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

🤖 Preserve volatile BB server evidence during discovery (#192)
  bazzite.sh
  docs/research/2026-10-06-bb-non-server-discovery-validation.md
  lib/bb-plugin-refresh.py
  mac.sh
  pi.sh
  tests/test_bb_plugin_refresh.py
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Record final review and fixture validation blockers (#192)
  docs/research/2026-10-06-bb-non-server-discovery-validation.md
Due: markdownlint

🤖 Accept account-owned macOS Homebrew directories for OpenCode
  CLAUDE.md
  bazzite.sh
  docs/adr/0008-accept-opencode-darwin-homebrew-bin-group-write.md
  docs/adr/0010-accept-opencode-darwin-homebrew-directories.md
  lib/opencode-cli.cjs
  mac.sh
  pi.sh
  tests/opencode-cli.test.cjs
  tests/test_opencode_macos_preflight.py
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Record the scoped BB customization design for #197
  GLOSSARY.md
  docs/adr/0011-scope-bb-server-customizations.md
  docs/plans/2026-10-06-bb-server-customizations.md
Due: markdownlint

🤖 Document separately authorized BB override migration
  CLAUDE.md
  docs/adr/0011-scope-bb-server-customizations.md
  docs/plans/2026-10-06-bb-environment-override-migration.md
  docs/plans/2026-10-06-bb-server-customizations.md
Due: markdownlint
