Repository scowalt/machine-setup-scripts: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, markdownlint

shellcheck:
  run: bunx shellcheck {staged_files}
  stage_fixed: true
  fail_text: Shellcheck found issues in shell scripts

markdownlint:
  run: bunx markdownlint-cli --fix {staged_files}
  stage_fixed: true
  fail_text: Markdownlint found issues in markdown files

🤖 File-watch claude-remote-projects for live session reconciliation
  CLAUDE.md
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck, markdownlint

🤖 Auto-accept claude remote-control interactive prompt in tmux
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Fix tmux session shell syntax for fish compatibility
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Replace Claude remote control with happy-coder
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Replace Claude remote control with happy-coder (#20)
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

🤖 Remove jj (Jujutsu) from all setup scripts
  CLAUDE.md
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

Consolidate per-machine token files into ~/.env.local
  CLAUDE.md
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

🤖 Fix Omarchy upgrade path to use native commands
  omarchy.sh
Due: shellcheck

🤖 Fix Omarchy upgrade path: add omarchy bin to PATH
  omarchy.sh
Due: shellcheck

Fix Omarchy bin directory PATH resolution during setup (#21)
  omarchy.sh
Due: shellcheck

Update compound-engineering plugin on setup script re-runs
  mac.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Fix all shellcheck warnings across setup scripts
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Fix compound plugin update and add Codex skills setup
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

feat: add Socket Firewall (sfw) installation to all setup scripts
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Set OMARCHY_PATH before running omarchy-update in curl|bash context
  omarchy.sh
Due: shellcheck

Add Bazzite OS setup script for Lenovo Legion Go
  CLAUDE.md
  README.md
  bazzite.sh
Due: shellcheck, markdownlint

Fix shellcheck SC2312 in Codex skills symlink across all scripts
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Fix github-dotfiles SSH alias lost after chezmoi apply
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Remove jj/jujutsu from all setup scripts
  CLAUDE.md
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

Remove happy-coder from all setup scripts
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Fix Tailscale install failure from stale cloudflared GPG key
  pi.sh
  ubuntu.sh
Due: shellcheck

Exit immediately when setup scripts are run as root
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Exit immediately when bazzite.sh is run as root
  bazzite.sh
Due: shellcheck

Enforce Tailscale service, auth, SSH, and ACL on every run
  pi.sh
  ubuntu.sh
Due: shellcheck

Fix cloudflared GPG key, fnm idempotency, CE plugin, Rube token leak, and add shellcheck
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Add gitleaks to core packages in all setup scripts
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Add lefthook to core packages in all setup scripts
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Install act to /usr/local/bin to fix ~/bin root ownership
  pi.sh
  ubuntu.sh
Due: shellcheck

Fix Tailscale BackendState parsing for pretty-printed JSON
  pi.sh
  ubuntu.sh
Due: shellcheck

Enable Tailscale SSH in omarchy and bazzite setup scripts
  bazzite.sh
  omarchy.sh
Due: shellcheck

Replace fnm and pyenv with mise across all setup scripts
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Mark plan as completed
  docs/plans/2026-03-23-001-feat-replace-fnm-pyenv-with-mise-beta-plan.md
Due: markdownlint

Install lefthook via go install on apt-based systems
  pi.sh
  ubuntu.sh
  wsl.sh
Due: shellcheck

Add Doppler CLI to all machine setup scripts
  bazzite.sh
  docs/plans/2026-03-23-002-feat-add-doppler-cli-beta-plan.md
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck, markdownlint

Skip AUR package installs when user lacks sudo access
  docs/plans/2026-03-23-003-fix-skip-aur-install-without-sudo-beta-plan.md
  omarchy.sh
Due: shellcheck, markdownlint

Skip Tailscale SSH setup when user lacks sudo access
  omarchy.sh
Due: shellcheck

Clean up duplicate Compound Engineering plugin installations
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Fix Compound Engineering plugin update identifier
  bazzite.sh
  mac.sh
  omarchy.sh
  pi.sh
  ubuntu.sh
  win.ps1
  wsl.sh
Due: shellcheck

Path conditions:
  shellcheck: any of: *.sh
  markdownlint: any of: *.md
